## A13 - Problema del viajante

Terezza Marianne Gonzalez Jauregui

07/11/2024

In [28]:
import pandas as pd
Datos= pd.read_excel("datosCT.xlsx", sheet_name="8c").set_index("Unnamed: 0")
Datos

,Tijuana,Mérida,GDL,México,León,Monterrey,Tapachula,Chihuahua
Unnamed: 0,,,,,,,,
Tijuana,0,4180,2306,2848,2529,2409,4005,1583
Mérida,4180,0,1874,1332,1719,2046,1062,2819
GDL,2306,1874,0,542,223,789,1699,1202
México,2848,1332,542,0,389,933,1157,1487
León,2529,1719,223,389,0,711,1544,1140
Monterrey,2409,2046,789,933,711,0,1803,826
Tapachula,4005,1062,1699,1157,1544,1803,0,2644
Chihuahua,1583,2819,1202,1487,1140,826,2644,0

In [36]:
import random
import numpy as np

Ciudades = ["Tijuana", "Mérida", "GDL", "México", "León", "Monterrey", "Tapachula", "Chihuahua"]

Ciudad1, Ciudad2, Ciudad3, Ciudad4, Ciudad5, Ciudad6, Ciudad7, Ciudad8 = random.sample(Ciudades, 8) #muestra aleatoria de elementos sin repetición 
Ciudades_finales =np.random.choice(Ciudades, size=len(Ciudades), replace=False)

R1= [Ciudad1, Ciudad2, Ciudad3, Ciudad4, Ciudad5, Ciudad6, Ciudad7, Ciudad8]
R1

['Tijuana',
 'GDL',
 'Monterrey',
 'Tapachula',
 'México',
 'León',
 'Mérida',
 'Chihuahua']

In [38]:
def distancia (Datos, CiudadA, CiudadB, CiudadC, CiudadD, CiudadE, CiudadF, CiudadG, CiudadH):
    return (Datos.loc[CiudadA,CiudadB]+Datos.loc[CiudadB,CiudadC]+Datos.loc[CiudadC,CiudadD]+Datos.loc[CiudadD,CiudadE]+Datos.loc[CiudadE,CiudadF]+Datos.loc[CiudadF,CiudadG]+Datos.loc[CiudadG,CiudadH])

In [40]:
pos = np.random.choice([0, 1, 2, 3, 4, 5, 6, 7], 2, replace=False)
R2 = R1.copy()
R2[pos[0]],R2[pos[1]]=R2[pos[1]],R2[pos[0]]
R2

['Tijuana',
 'GDL',
 'Monterrey',
 'Chihuahua',
 'México',
 'León',
 'Mérida',
 'Tapachula']

In [64]:
#Paso 1
import random
D1= distancia(Datos, R1[0], R1[1], R1[2], R1[3], R1[4], R1[5], R1[6], R1[7])
D2= distancia(Datos, R2[0], R2[1], R2[2], R2[3], R2[4], R2[5], R2[6], R2[7])
T=1000
# numero aleatorio real continuo entre [0, 1)
P= random.uniform(0,1)
Q=np.exp((D1-D2)/T)
if P<Q:
    R1=R2.copy()

In [ ]:
#Paso 2